RewriteEngine On

# Menghapus ekstensi .php untuk halaman umum
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/.]+)$ $1.php [L]

# Menghapus ekstensi .php untuk halaman admin
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^admin/([^/.]+)$ admin/$1.php [L]
RewriteRule ^print$ print.php [L]


# Redirect akses index.php ke root (menghilangkan index.php di URL)
RewriteCond %{THE_REQUEST} /index\.php [NC]
RewriteRule ^index\.php$ / [R=301,L]

# Pastikan request yang bukan file/folder diarahkan ke index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]
